h1{
  color:white;
  background-color: black;
  border-bottom:1px solid lightgray;
}
h3{
  border-bottom: 1px solid black;
}
p{
  color:blue;
  /*width:80%;
  text-align: center;*/
}

/*.blue{
  background-color: blue
}*/
